/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* === Header === */
.head {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: rgba(255, 255, 255, 0.5);
	position: absolute; }
/* === navegacion === */
.navegacion .top-bar .menu a {
	color: #666666;
	font-weight: bold; }
.navegacion .top-bar .top-bar-right img {
	opacity: 0; }
/* === identidad === */
.efecto {
	background: white;
	max-height: 350px; }
.efecto img {
	opacity: 0.25;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto:hover img {
	opacity: 1; }
.efecto .caption {
	width: 50%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0);
	position: relative;
	bottom: 215px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto:hover .caption {
	background: rgba(255, 255, 255, 0.75); }
.efecto .caption h4, .efecto .caption p {
	position: relative;
	color: #222222; }
/* === productos === */
.productos {
	background-image: url("../img/img2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 4rem; }
.productos h3, .productos p, .productos img, .productos a.button {
	margin-top: 4rem;
	color: white; }
.productos hr {
	border-bottom: 1px solid #cccccc; }
/* === proyectos === */
.efecto2 .caption2 {
	opacity: 0;
	position: relative;
	padding: 1rem;
	background-color: white;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto2:hover .caption2 {
	opacity: 1;
	margin-top: -100px;
	margin-bottom: 100px; }
/* === testimonios === */
.testimonios, .testimonios.orbit {
	background-color: #006bb1; }
.testimonios h3, .testimonios blockquote, .testimonios cite, .testimonios p {
	color: white; }
.testimonios h3, .testimonios img {
	margin-top: 3rem; }
.testimonios .orbit-bullets {
	padding: 2.5rem;
	margin-bottom: 0; }
/* === footer === */
.footer {
	background-image: url("../img/img3.jpg");
	background-repeat: no-repeat;
	background-size: 100%; }
.footer .logo {
	margin-top: 4rem;
	margin-bottom: 4rem; }
.footer p, .footer .menu {
	margin-bottom: 5rem; }
.footer h4, .footer p {
	color: #333333; }
.footer .menu a {
	color: #555555; }
.footer .menu.social {
	font-size: 2.5rem; }
.footer .menu.social a {
	padding-bottom: 0;
	padding-top: 0; }
/* === disclaimer */
.disclaimer {
	background-color: #f1f1f1; }
.disclaimer p {
	font-size: 0.75rem;
	padding-top: 1rem;
	color: #666666; }
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 780px) {}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 400px) {}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}