/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* === Header === */
.head {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 1; }
/* === navegacion === */
.navegacion .top-bar .menu a {
	color: #666666;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase; }
.navegacion .top-bar .top-bar-right img {
	opacity: 0; }
/* === slide === */
.slide .orbit-container {
	height: auto !important;
	overflow: visible; }
.slide .orbit-container li {
	max-height: none !important; }
/* === identidad === */
.efecto {
	background: white;
	cursor: pointer;
	max-height: 350px; }
.efecto img {
	opacity: 0.25;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto:hover img {
	opacity: 1; }
.efecto .caption {
	width: 50%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0);
	position: relative;
	bottom: 215px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto:hover .caption {
	background: rgba(255, 255, 255, 0.75); }
.efecto .caption h4, .efecto .caption p {
	position: relative;
	color: #222222; }
/* === productos === */
.productos {
	background-image: url("../img/img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 4rem; }
.productos h3, .productos p, .productos img, .productos a.button {
	margin-top: 4rem;
	color: white; }
.productos hr {
	border-bottom: 1px solid #cccccc; }
/* === servicios === */
.servicios {
	background-image: url("../img/img5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 4rem;
	padding-top: 4rem; }
.servicios h4, .servicios p, .servicios img, .servicios a.button {
	color: #333333; }
.servicios hr {
	border-bottom: 1px solid #cccccc; }
/* === noticias === */
.noticias {
	background-image: url("../img/img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 4rem;
	padding-top: 4rem; }
.noticias h3, .noticias p, .noticias img, .noticias a.button {
	color: white; }
.noticias hr {
	border-bottom: 1px solid #cccccc; }
/* === proyectos === */
.efecto2 .caption2 {
	opacity: 0;
	position: relative;
	padding: 1rem;
	background-color: white;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto2:hover .caption2 {
	opacity: 1;
	margin-top: -100px;
	margin-bottom: 100px; }
/* === testimonios === */
.testimonios, .testimonios.orbit {
	background-color: #006bb1; }
.testimonios .orbit-container {
	height: auto !important;
	overflow: visible;
	padding-bottom: 2rem; }
.testimonios .orbit-container li {
	max-height: none !important; }
.testimonios h3, .testimonios blockquote, .testimonios cite, .testimonios p {
	color: white; }
.testimonios p {
	margin-bottom: 0; }
.testimonios h3 {
	margin-top: 3rem;
	margin-bottom: 2rem; }
.testimonios .orbit-bullets {
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0; }
.testimonios .orbit-bullets button {
	opacity: 0.5;
	height: auto;
	width: auto; }
.testimonios .orbit-bullets button.is-active {
	opacity: 1; }
.testimonios .orbit-bullets button.is-active span:last-child {
	display: none; }
/* === footer === */
.footer {
	background-image: url("../img/img3.jpg");
	background-repeat: no-repeat;
	background-size: 100%; }
.footer .logo {
	margin-top: 4rem;
	margin-bottom: 4rem; }
.footer p, .footer .menu {
	margin-bottom: 5rem; }
.footer h4, .footer p {
	color: #333333; }
.footer .menu a {
	color: #555555; }
.footer .menu.social {
	font-size: 2.5rem; }
.footer .menu.social a {
	padding-bottom: 0;
	padding-top: 0; }
/* === disclaimer === */
.disclaimer {
	background-color: #f1f1f1; }
.disclaimer p {
	font-size: 0.75rem;
	padding-top: 1rem;
	color: #666666; }
/* === contacto offscreen === */
.container-fluid {
	position: fixed;
	z-index: 99999999999999999999;
	background-color: white;
	border: 2px solid #006BB1; }
	.container-fluid .header-pestana {
		padding-top: 2rem; }
	/* #006BB1 */
.container-fluid .click {
	background-color: #006BB1;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	color: white;
	top: 50%;
	left: -115px;
	padding: 1rem;
	border-radius: 3px 3px 3px 3px;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg); }
.visible {
	width: 650px;
	z-index: 99999999999999999999;
	top: 2rem;
	right: 0px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.invisible2 {
	right:-648px; }
/* === contenido === */
.sub-navegacion .menu {
	margin-bottom: 2rem; }
.sub-navegacion .menu li a {
	font-size: 1.5rem;
	border-bottom: 1px solid #2199e8; }
.sub-navegacion .menu li.current-menu-item {
	border-bottom: 5px solid #2199e8; }
.contenido .meta {
	color: #999999;
	font-size: 0.75rem;
	margin-bottom: 1.5rem; }
.contenido p, .contenido h1, .contenido h2, .contenido h3, .contenido h4, .contenido h5, .contenido h6 {
	color: #333333; }
.mascara img {
	border-radius: 400px !important;
	-moz-border-radius: 400px !important;
	-webkit-border-radius: 400px !important;
	-khtml-border-radius: 400px !important;
	overflow: hidden; }
/* === seccion privada === */
.sidebar .callout {
	margin-bottom: 0; }
.sidebar .callout p {
	font-size: 0.8rem; }
.sidebar .callout a {
	font-size: 0.8rem; }
/* === clases wordpress === */
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto; }
.alignright {
	float: right !important; }
.alignleft {
	float: left !important; }
.alignjustify {
	text-align: justify; }
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 780px) {}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 400px) {}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}