/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

/* === Header === */
.head {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: rgba(255, 255, 255); }
/* === navegacion === */
.navegacion .top-bar {
    background-color: rgba(230, 230, 230, 1); }
.navegacion .top-bar ul {
    background-color: transparent; }
.navegacion .top-bar ul li ul {
    background-color: rgba(230, 230, 230, 1); }
.navegacion .sticky .top-bar {
	background: rgba(230, 230, 230, 1); }
.navegacion .is-stuck .top-bar {
	background: rgba(230, 230, 230, 0.7); }
.navegacion .is-anchored .top-bar {
	background: rgba(230, 230, 230, 1); }
.navegacion .top-bar .menu a {
	color: #666666;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase; }
.navegacion .top-bar .top-bar-right img {
	opacity: 0; }
/* === slide === */
.slide {}
.slide .orbit-container {
	height: auto !important;
	overflow: visible; }
.slide .orbit-container li {
	max-height: none !important; }
.slide .orbit-container figcaption {
	height: 100%;
	width: 30%; }
	.slide .orbit-container figcaption p span i {
		font-size: 0.80rem; }
		.slide .orbit-container figcaption p span {
			font-style: italic;
			font-size: 0.75rem;
			opacity: 0.9; }
/* === seccion final ===*/
.final {
	background: #f1f1f1;
	padding-top: 2rem;
	padding-bottom: 2rem; }
	.final h4, .final p {
		color: #777777; }
	.final p {
		font-size: 0.8rem; }
/* === identidad nueva === */
.identidad {
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2rem;
	padding-bottom: 2rem; }
.identidad.page {
	background: #ffffff; }
.identidad h3, .identidad h4,.identidad h5, .identidad p, .identidad img, .identidad a.button {
	color: #015186; }
.identidad h3 {}
.identidad .callout {}
.identidad hr {
	border-bottom: 1px solid #cccccc; }
/* === identidad === */
.efecto {
	background: #006BB1;
	cursor: pointer;
	max-height: 266px;
	position: relative; }
	.efecto.lean {
		background: #474646 ; }
		.efecto.lean i {
			color: #474646; }
		.efecto.lean p, .efecto.lean h2 {
			color: white; }
	.efecto.serv {
		background: #006BB1; }
		.efecto.serv i {
			color: #006BB1 ; }
		.efecto.serv p, .efecto.serv h2 {
			color: white; }
	.efecto.noti {
		background: #E6E6E6; }
		.efecto.noti i {
			color: #E6E6E6; }
		.efecto.noti p, .efecto.noti h2 {
			color: black; }
.efecto .esconder {
	opacity: 0 !important; }
.efecto img { opacity: 0; }
.efecto i.fi-play {
	z-index: 4;
	font-size: 10rem;
	position: absolute;
	top: 1rem;
	right: -80px; }
.efecto i.fi-play.abajo {
	opacity: 0; }
.efecto.active i.fi-play.abajo {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    opacity: 1;
	z-index: 4;
	font-size: 10rem;
	position: absolute;
	top: 184px;
    right: 160px; }
.efecto .caption {
	width: 50%;
	margin: 0 auto;
	position: relative;
	bottom: 187px; }
.efecto:hover .caption p {
	opacity: 1;
	top: 0px; }
.efecto:hover .caption h2 {
	top: 0px; }
.efecto.active .caption p {
	opacity: 1;
	top: 0px; }
.efecto.active .caption h2 {
	top: 0px; }
.efecto .caption i {
	opacity: 0.1;
	color: white;
	font-size: 15rem;
	position: absolute;
	left: -13px;
	top: -123px; }
.efecto .caption h2 {
	opacity: 1;
	position: relative;
	top: 25px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto .caption p {
	opacity: 0;
	position: relative;
	top: 100px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
/* === productos === */
.productos {
	background-image: url("../img/img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1rem; }
	.productos h6, .productos p, .productos img, .productos a.button {
		color: white; }
	.productos p {
		font-size: 0.80rem;	}
	.productos a.button {
		margin-bottom: 0rem; }
	.productos hr {
		border-bottom: 1px solid #cccccc; }
/* === servicios === */
.servicios {
	background-image: url("../img/img5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1rem; }
	.servicios h6, .servicios p, .servicios img, .servicios a.button {
		color: #333333; }
	.servicios p {
		font-size: 0.80rem;	}
	.servicios a.button {
		margin-bottom: 0rem; }
	.servicios hr {
		border-bottom: 1px solid #cccccc; }
/* === noticias === */
.noticias {
	background-image: url("../img/img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 1rem; }
	.noticias h6, .noticias p, .noticias img, .noticias a.button {
		color: white; }
	.noticias p {
		font-size: 0.80rem;	}
	.noticias a.button {
		margin-bottom: 0rem; }
	.noticias hr {
		border-bottom: 1px solid #cccccc; }
/* === proyectos === */
.proyectos {
	margin-bottom: 2rem; }
.efecto2 {
	position: relative; }
.efecto2 .caption2 {
	height: 100%;
	width: auto;
	opacity: 0.3;
	position: absolute;
	bottom: 0px;
	background-color: white;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.efecto2:hover .caption2 {
	opacity: 0.9; }
.efecto2 .caption2 h4 {
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
	margin-top: 80px; }
	.efecto2:hover .caption2 h4 {
		margin-top: 50px; }
/* === testimonios === */
.testimonios {
	padding-bottom: 2rem;
	padding-top: 2rem;
	background-color: #1583CC; }
	.testimonios .orbit {
		margin-bottom: 8rem; }
.testimonios .orbit-container {
	height: auto !important;
	overflow: visible; }
.testimonios .orbit-container li {
	max-height: none !important; }
.testimonios h3, .testimonios blockquote, .testimonios cite, .testimonios p {
	color: white; }
.testimonios p {
	margin-bottom: 0; }
.testimonios h3 {
	margin-bottom: 1rem; }
.testimonios .orbit-bullets {
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0; }
.testimonios .orbit-bullets button {
	opacity: 0.5;
	height: auto;
	width: auto; }
.testimonios .orbit-bullets button.is-active {
	opacity: 1; }
.testimonios .orbit-bullets button.is-active span:last-child {
	display: none; }
/* === footer === */
.footer {
	height: 300px; }
	.footer .items{
		padding-top: 1rem;
		padding-bottom: 1rem;
		background: rgba(255, 255, 255, 1); }
	.footer .mapa {
		height: 200px;
		overflow: hidden; }
.footer h4, .footer p {
	color: #333333; }
.footer .menu a {
	color: #666666; }
.footer .menu.social {
	font-size: 2.5rem; }
.footer .menu.social a {
	padding-bottom: 0;
	padding-top: 0; }
.footer .menu.contacto {
	font-size: 1.2rem; }
/* === disclaimer === */
.disclaimer {
	background-color: #f1f1f1; }
.disclaimer p {
	font-size: 0.75rem;
	padding-top: 1rem;
	color: #666666; }
/* === contacto offscreen === */
.container-fluid {
	position: fixed;
	z-index: 99999999999999999999;
	background-color: white;
	border: 2px solid #006BB1; }
	.container-fluid .header-pestana {
		padding-top: 2rem; }
	/* #006BB1 */
.container-fluid .click {
	background-color: #006BB1;
	border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	color: white;
	top: 50%;
	left: -116px;
	padding: 1rem;
	border-radius: 3px 3px 3px 3px;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg); }
.visible {
	width: 650px;
	z-index: 99999999999999999999;
	top: 2rem;
	right: 0px;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.invisible2 {
	right:-648px; }
/* === contenido === */
.sub-navegacion .menu {
	margin-bottom: 2rem; }
.sub-navegacion .menu li a {
	font-size: 1.5rem;
	border-bottom: 1px solid #2199e8; }
.sub-navegacion .menu li.current-menu-item {
	border-bottom: 5px solid #2199e8; }
.contenido .meta {
	color: #999999;
	font-size: 0.75rem;
	margin-bottom: 1.5rem; }
.contenido p, .contenido h1, .contenido h2, .contenido h3, .contenido h4, .contenido h5, .contenido h6 {
	color: #555555; }
.contenido p {
	font-size: 0.85rem; }
.contenido .lateral {
	border-right: 1px solid #999999; }
.contenido.news h1 {
	margin-bottom: 1rem; }
.contenido.news h6 {
	color: tomato;
	font-weight: bold; }
.contenido.news hr {
	margin-top: 0;
	margin-bottom: 0; }
.cosa h1, .cosa h4, .cosa p, .cosa i {
	color: #0095e5 !important; }
.cosa i {
	font-size: 2rem;
    position: relative;
    top: 25px; }
.cosa h1 {
	margin-bottom: 3rem; }
.cosa h4 {
	margin-top: 1rem; }
.cosa p {
	margin-bottom: 1.5rem;
	opacity: 0;
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease; }
.cosa a:hover p {
	opacity: 1; }
.cosa .contenedor {
	border: 3px solid #0095e5;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 400px !important;
	-moz-border-radius: 400px !important;
	-webkit-border-radius: 400px !important;
	-khtml-border-radius: 400px !important; }
.dropdown-pane {
    padding-top: 0rem;
    padding-bottom: 0rem; }
.dropdown-pane.large {
	width: 370px; }
/*.mascara img {
	border-radius: 400px !important;
	-moz-border-radius: 400px !important;
	-webkit-border-radius: 400px !important;
	-khtml-border-radius: 400px !important;
	overflow: hidden; }*/
/* === seccion privada === */
.sidebar .callout {
	margin-bottom: 0; }
.sidebar .callout p {
	font-size: 0.8rem; }
.sidebar .callout a {
	font-size: 0.8rem; }
/* === clases wordpress === */
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto; }
.alignright {
	float: right !important; }
.alignleft {
	float: left !important; }
.alignjustify {
	text-align: justify; }
/* === calendario ===*/
.calendario .lista {
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden; }
.calendario .lista li {
	font-size: 0.85rem;
	margin-bottom: 1rem; }
	.calendario .lista li span {
	padding-right: 0.55rem;
	margin-right: 0.55rem;
	border-right: 1px solid #666666; }
.boletin p {
	font-size: 0.85rem; }

/*=== calendario ===*/
.calendar_full_content table {
	width: 100%; }
.ecwd_calendar td .day-number {
    background: none !important; }
.ecwd-events-single {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }
  .ecwd-events-single:before, .ecwd-events-single:after {
    content: " ";
    display: table; }
  .ecwd-events-single:after {
    clear: both; }
  .ecwd-events-single.collapse .column,
  .ecwd-events-single.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .ecwd-events-single .ecwd-events-single {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .ecwd-events-single .ecwd-events-single:before, .ecwd-events-single .ecwd-events-single:after {
      content: " ";
      display: table; }
    .ecwd-events-single .ecwd-events-single:after {
      clear: both; }
    .ecwd-events-single .ecwd-events-single.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .ecwd-events-single .ecwd-events-single.collapse:before, .ecwd-events-single .ecwd-events-single.collapse:after {
        content: " ";
        display: table; }
      .ecwd-events-single .ecwd-events-single.collapse:after {
        clear: both; }
.ecwd_event_category-event_single {
	position: relative;
    width: 100%; }
.current-month a {
	display: none; }
.type-ecwd_event {
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	width: 100%;
	float: left; }
#ecwd_back_link {
	display: none; }
.ecwd_calendar td.no-events {
    background: #f5f5f5 !important;
	border: 1px solid #cccccc; }
.ecwd_calendar td.has-events {
	-webkit-box-shadow: inset 0 1px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0 1px 5px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0 1px 5px 1px rgba(0,0,0,0.75); }
.ecwd_calendar .has-events .events .event-details-container .event-details .event-details-title h5 {
	white-space: nowrap;
	border-radius: 50rem;
    max-width: 0.75rem;
    overflow: hidden;
    background-color: #2f549e;
    margin: 0 auto !important; }
.ecwd_calendar .has-events .events .event-details-container .event-details .event-details-title h5 a {
	opacity: 0;
	max-width: 0.75rem;
    overflow: hidden; }
.ecwd_calendar .has-events .events .event-details-container .event-details .ecwd-time {
	display: none; }
.ecwd_calendar li {
	background: transparent !important; }
.ecwd_calendar .current-day {
    color: #333333!important; }
.ecwd_calendar th.normal-day-heading {
	background: rgba(130,171,217,0.1) !important;
	border: 1px solid #cccccc;
    color: #82abd9; }
.ecwd_calendar .calendar-head {
	min-height: 66px;
    padding-top: 14px;
    padding-bottom: 30px;
    background-color: rgba(130, 171, 217, 0.1); }
.ecwd_calendar .calendar-head .previous {
	color: #82abd9;
	width: 33.33333333%;
	float: left;
	text-align: center; }
.ecwd_calendar .calendar-head .current-month {
	color: #82abd9;
	width: 33.33333333%;
	float: left;
	text-align: center; }
.ecwd_calendar .calendar-head .next {
	color: #82abd9;
	width: 33.33333333%;
	float: left;
	text-align: center; }
.ecwd_calendar .calendar-head .next a, .ecwd_calendar .calendar-head .previous a {
	color: #82abd9;
	font-weight: bold;
	font-size: 1rem; }
.calendar_widget_content .event-organizers {
	display: none;  }
.calendar_widget_content .ecwd-date {
	display: none;  }
.calendar_widget_content .event-venue {
	display: none;  }
.calendar_widget_content .ecwd-detalis {
	display: none;  }
.ecwd_calendar .event-details .ecwd-time {
	display: none;  }
.ecwd_calendar .event-details .ecwd-date {
	display: none;  }
.ecwd_calendar .event-details .event-organizers {
	display: none;  }
.ecwd_calendar .event-details .event-venue {
	display: none;  }
.ecwd_calendar .event-details .ecwd-detalis {
	display: none;  }
.calendar_widget_content .event-details h5 {
	font-weight: normal;
	font-weight: normal;
    font-size: 0.75rem;
    margin: 0; }
.calendar_widget_content ul, .ecwd_calendar ul {
    line-height: 1;
    margin-bottom: 0;
    list-style-type: none; }
.ecwd_calendar ul li span {
    display: none; }
.calendar_widget_content .ecwd_calendar_view_dropdown {
	display: none; }
.calendar_widget_content .ecwd_calendar_container {
	width: 100%; }
.calendar_widget_content .ecwd_calendar_prev_next {
	border: none !important; }
.calendar_widget_content .ecwd_calendar_prev_next div {
	width: 33.3333333%;
	margin: 0;
	padding: 0;
	float: left;
	border: none; }
.calendar_widget_content .ecwd_calendar_prev_next .current-month div {
	width: 100%; }
.ecwd_calendar_view_tabs {
	display: none; }
.ecwd-events-single .ecwd-event .event-detalis .event-detalis-date {
	margin-bottom: 1rem; }
.ecwd-events-single .ecwd-event .event-detalis .event-detalis-date .ecwd-event-date {
	color: #666666; }
.ecwd-events-single .ecwd-event .event-detalis .event-detalis-date .ecwd-event-date:before {
	content: "Fecha y Horario: "; }
.ecwd-events-single .ecwd-event .event-detalis .event-venue span {
	display: none; }
.ecwd-events-single .ecwd-event .event-detalis .event-venue div {
	color: #666666;
	margin-bottom: 1rem; }
.ecwd-events-single .ecwd-event .event-detalis .event-venue div:before {
	content: "Dirección: "; }
.ecwd-events-single .ecwd-event div p {
	color: #666666;
	font-weight: normal; }
table tbody th, table tbody td {
    padding: 0.4rem 0.525rem 0.525rem; }
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 1024px) {
	.navegacion .top-bar .top-bar-right li a {
		font-size: 2rem; }
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 640px) {
	.top-bar .top-bar-right, .top-bar .top-bar-left {
    width: 50%; }
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}